h1 {
    background-color: coral;
}
#lamb{
    background-color: aquamarine;
}
/*[href] {
    background-color: aliceblue;
}*/

.link{background-color: black;}
a{
    top: 100;
}

#Paragraph{
    color: aqua;
    display: inline-block;
}

#img{
    display: inline;
    width: 1300px;
    height: 100px;
}